<div class="col-lg-5">
    <h1 class="h1-strong">{{title}}</h1>

    <div class="alert alert-success"  *ngIf="status == 'success'">
        Se han actualizado tus datos correctamente
    </div>

    <div class="alert alert-danger" *ngIf="status == 'error'">
        No se han podido actualizar tus datos
    </div>

    <form #userEditForm="ngForm" (ngSubmit)="onSubmit()" class="col-lg-12">
       
        <div *ngIf="user.image">
            <img class="upload-image" src="{{ url + 'user/' + user.image + '/getImage' }}"/>
        </div>

        <p>
            <input type="file" placeholder="Subir imagen" (change)= "fileChangeEvent($event)" />
        </p>

        <input type="submit" value="{{title}}" class="btn btn-warning" [disabled]=
        "!userEditForm.form.valid" />
    </form>
</div>